<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Add a Cube</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <main>
      <h1>{{name}}</h1>
      <img class="cube" src="{{imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{description}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
          <a class="btn" href="/attach/accessory/{{_id}}">Attach Accessory</a>
          <a class="btn" href="/delete/{{_id}}">Delete Cube</a>

      </div>
    </main>
      <h2>Accessories</h2>
      <div class="accessories">
      {{#each accessories}}
          <div class="accessory">
              <img src="{{imageUrl}}" alt="stickerName">
              <h3>{{this.name}}</h3>
              <p>{{this.description}}</p>
              <a class="btnAcc" href="/remove/accessory/{{_id}}" >Remove Accessory</a>
          </div>

          {{else}}

          <p>No accessories yet ... </p>
      {{/each}}

      </div>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>